@use "sass:map";
@use "sass:string";
@use "./variables" as *;

/* Mixins */

// Media Query Mixin
// استفاده:
// @include media(md) { ... }
// @include media(max-md) { ... }

@mixin media($breakpoint) {

  // اگر breakpoint در map تعریف شده باشد
  @if map.has-key($breakpoints, $breakpoint) {

    $value: map.get($breakpoints, $breakpoint);

    @media (min-width: $value) {
      @content;
    }

  }

  // حالت موبایل
  @else if $breakpoint == xs {

    @content;

  }

  // حالت max-width مثل max-md
  @else if string.slice(#{$breakpoint}, 1, 4) == "max-" {

    $key: string.slice(#{$breakpoint}, 5);
    $value: map.get($breakpoints, $key);

    @media (max-width: #{$value - 1px}) {
      @content;
    }

  }

  // اگر breakpoint اشتباه باشد
  @else {

    @warn "Breakpoint `#{$breakpoint}` not found in \$breakpoints map.";

  }
}


// clearfix
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
