.search-results-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // دسکتاپ: 4 ستون
  gap: 24px;
  margin-top: 24px;
}

/* تبلت */
@media (max-width: 1024px) {
  .search-results-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* موبایل */
@media (max-width: 600px) {
  .search-results-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
